.Navbar__container {
    padding: 1em 20px;
}



@media (max-width: 767px) {
    .desktop_navbar {
        display: none;
    }
    .Navbar__container {
        position: relative;
    }
    .mobile_navbar {
        position: absolute;
        top: 100%;
        background-color: var(--main_color);
        width: 100%;
        padding: 1em 20px;
        border-radius: 5px;
        right: 0;
        left: 0;
        text-align: center;
        color: #fff;
    }

    .mobile_navbar nav ul li {
        padding: 1em 0;
    }
    .mobile_navbar .btn {
        background: var(--orange_color);
        border-radius: var(--radius);
        cursor: pointer;
    }
}

@media (min-width: 767px) {
    .mobile_navbar, .toggle {
        display: none;
    }

    .desktop_navbar nav ul {
        display: flex;
        align-items: center;
    }

    .desktop_navbar nav ul li {
        margin-left: 1em;
    }


    .desktop_navbar nav ul .btn {
        padding: .8em 20px;
        color: var(--White);
        border-radius: var(--radius);
        background-color: var(--orange_color);
    }
}